<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <!-- https://blueprintcss.dev/docs -->
    <link href="https://unpkg.com/blueprint-css@3.1.3/dist/blueprint.min.css" rel="stylesheet" />

    <!--Load the AJAX API for visualizing stacked bars-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!-- Pagination via CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.js">
    </script>

        <!--Load the AJAX API for visualizing stacked bars-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<title>$test_type with $exec</title>
  <style>
    body {   font-family: Sans-Serif; }

    .test_results details > summary {
        padding: 4px;
        background-color: #eeeeee;
        border: none;
        box-shadow: 1px 1px 2px #eeeeee;
        cursor: pointer;
        font-size:20px;
    }

h1, h2, h3, p {
  font-family: Arial, Helvetica, sans-serif;
}


table, table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}

th {
    font-weight: bold;
    text-align: center;
}

table th {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* Special for the types of results */
.class_passing th {background-color: #00cc00;}
.class_passing tr:hover {background-color: #44ff77;}
.class_failing th {background-color: #cc0000;}
.class_failing tr:hover {background-color: #ff0000;}
.class_error th {background-color: #ccaa00;}
.class_error tr:hover {background-color: #ffdd00;}
.class_unsupported th {background-color: #777777;}
.class_unsupported tr:hover {background-color: #dddddd;}


.class_selected_fails th {background-color: #0000ee;}
.class_selected_fails tr:hover {background-color: #8888ff;}

.class_selected_fails table {
    width:75%;
}
.class_selected_fails details > summary {
  font-size:16px;
}
  </style>

    <script type="text/javascript">
      // Get the JSON data from the tests.
      let pass_json;
      let fail_json;
      let error_json;
      let unsupported_json;

      // Data dynamically created from fail_json on selection of some
      // criteria.
      let fail_characterized_json;

      fetch('./pass.json')
    .then((response) => response.json())
    .then((data) => {pass_json = data});
      fetch('./failing_tests.json')
    .then((response) => response.json())
    .then((data) => {fail_json = data});
      fetch('./test_errors.json')
    .then((response) => error_json = response.json())
    .then((data) => {error_json = data});
      fetch('./unsupported.json')
    .then((response) => unsupportd_json = response.json())
    .then((data) => {unsupported_json = data});

      // TODO: Use this data for checkboxes
      fetch('./failure_parameters.json')
    .then((response) => unsupportd_json = response.json())
    .then((data) => {unsupported_json = data});

      // TODO: handle promises to refresh screen when data is loaded.

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table
      // Instantiates it with data, and draws it.
      // TODO: Update with all the data loaded
      function drawChart() {
          // For each test type:
          //   Get a div for the chart
          let chart_output_area = document.getElementById('chart_div');
          let input_data = [
              ['Results', 'Count', {role:'style'}],
              ['Passing', pass_json.length, '#44ff77'],
              ['Failing', fail_json.length, '#ff0000'],
              ['Errors', error_json.length, '#ffdd00'],
              ['Unsupported', unsupported_json.length, '#777777']
          ];
          const chart = new google.visualization.BarChart(chart_output_area);
          let chart_data = google.visualization.arrayToDataTable(input_data);
          if (chart && chart_data) {
              let chart_options = {
                  legend: {position: 'bottom', maxLines: 3},
                  isStacked: true,
                  width: 600, height:200, bar: {groupWidth: '90%' }
              };
              chart.draw(chart_data, chart_options);
          }
     }

    const characterized_failure_labels =
      $characterized_failure_labels;

    let selectedSet = null;
    let accum_boxes = [];
    function checkboxChanged(box) {
      // Update the group selected with the intersection of values
      selectedSet = null;
      let first = true;
      for (let index in characterized_failure_labels) {
        const tag = characterized_failure_labels[index];
        const check_item = document.getElementById(tag);
        if (check_item.checked) {
          const label_string = check_item.value;
          const str_len = label_string.length;
          const labels = label_string.substring(2, str_len - 2). split("', '");
          const newSet = new Set(labels);

          if (first) {
             selectedSet = newSet;
             first = false;
          } else {
             selectedSet = new Set([...selectedSet].filter((x) => newSet.has(x)));
          }
        }
      }
     // Do something with the selected set.
     const newSize = selectedSet == null ? 0 : selectedSet.size;
     const output = document.getElementById('selectedCount');
     if (output) output.innerHTML = output.value = newSize;
     return newSize;
    }

    function showSelectedItems() {
        // Get the selected failures as a JSON list
        let selected_json_data = [];
        // let sorted_labels = [...selectedSet].sort();
        for (const failure of fail_json) {
            let label = failure['label'];
            if (selectedSet.has(label)) {
                selected_json_data.push(failure);
            }
        }
        fill_pagination("#characterized-pagination-container",
                        "#characterized-data-container",
                        selected_json_data,
                        "selected_fails");
    }

    // UL Template for pagination.js
      function simpleTemplating(data, c_type) {
      let possible_fields = ['label', 'expected', 'result',
      'options', 'input_data'];
      let table_opening =
      '<table id="table_' + c_type +
                  '" class="class_' + c_type + '">';
        let html = [table_opening];  // Sets up table
        if (data.length > 0) {
        html.push('<tr>');
          for (let key of possible_fields) {
          if (key in data[0]) {
          html.push('<th>' + key +'</th>');
          }
          }

          html.push('</tr>');
        $.each(data, function(index, item){
        html.push("<tr>");
          for (let key of possible_fields) {
          if (key in data[0]) {
          let output;
          if (typeof item[key] == 'object') {
          output = JSON.stringify(item[key]);
          } else {
          output = item[key];
          }
          html.push('<td>' + output +'</td>');
          }
          }
          html.push("</tr>");
        });
        }

        html.push('</table>');
        return html.join('\n');
    }

    function onloadFn() {
        // Set up the pagination of each set of results
        // Do this for each class of results.
        const container_types = [
            {'type': 'failing', 'data': fail_json},
            {'type': 'passing', 'data': pass_json},
            {'type':'unsupported', 'data': unsupported_json},
            {'type': 'error', 'data': error_json}
        ];

        for (c_type of container_types) {
            let container_type = c_type['type'];
            let data_json = c_type['data'];
            if (data_json == 'undefined') {
                // This may be an error
                continue;
            }
            let pagination_container_name = '#' + container_type +
                '-pagination-container';
            let data_container_name = '#' + container_type +
                '-data-container';

      fill_pagination(pagination_container_name, data_container_name, data_json, container_type);
}
}

      function fill_pagination(pagination_container_name,
                               data_container_name,
                               data_json, container_type) {
          let pagination_container = $(pagination_container_name);
          let data_container = $(data_container_name);
          pagination_container.pagination({
              dataSource: data_json,
              pageSize: 10,
              showSizeChanger: true,
              showGoInput: true,
              showGoButton: true,
              showNavigator: true,
              formatGoInput: 'Go to page <%= input %>',
              formatNavigator: '<%= rangeStart %>-<%= rangeEnd %> of <%= totalNumber %> items',
              position: 'top',
              callback: function(data, pagination) {
                  // template method of yourself
                  // Create the HTML for the
                  var html = simpleTemplating(data, container_type);
                  data_container.html(html);
              }
          });
      }
</script>
  </head>
  <body onload=onloadFn()>
    <h1>Verification report: $test_type on $exec</h1>
    <h2>$platform_info</h2>
    <p>Report created: $timestamp
    <p>$total_tests attempted. Pass: $passing_tests, Fail: $failing_tests, Errors: $error_count, Unsupported: $unsupported_count</p>
    <div id='chart_div'>
    </div>
    <details>
      <summary>See more detail</summary>
      <p>$test_environment</p>
    </details>
    <br>
    <div id='test_result_details' class='test_results'>
    <details>
      <summary>Passing tests ($passing_tests)</summary>
      <!-- Using pagination.js -->
      <div id="passing-pagination-container"></div>
      <div id="passing-data-container"></div>
    </details>

    <details>
      <summary>Failing tests ($failing_tests)</summary>
      <div id="failing-pagination-container"></div>
      <div id="failing-data-container"></div>
      <div id='testFailuresCharacterized'>
        <details>
          <summary class="class_selected_fails">Failures characterized</summary>
          <div bp="grid">
            <div bp="3">
              <p>Filtered count = <span id='selectedCount'>0</span>
                <button id="showSelected" onclick="showSelectedItems();">"Update display"</button>
              </p>$failures_characterized
            </div>  <!-- end of checkbox div -->
            <div bp="9">
              <div id="characterized-pagination-container"></div>
              <div id="characterized-data-container"></div>
            </div>
          </div> <!-- grid end -->
        </details>
      </div>
    </details>  <!-- failing tests -->

    <details>
      <summary>Test errors ($error_count)</summary>
      <h2 id='testErrors'>Test Errors ($error_count)</h2>
      <div id="error-pagination-container"></div>
      <div id="error-data-container"></div>
    </details>

    <details>
      <summary>Unsupported Tests errors ($unsupported_count)</summary>
      <div id="unsupported-pagination-container"></div>
      <div id="unsupported-data-container"></div>
    </details>
    </div>

  </body>
</html>
