<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
    <!-- https://blueprintcss.dev/docs -->
    <link href="https://unpkg.com/blueprint-css@3.1.3/dist/blueprint.min.css" rel="stylesheet" />

    <!--Load the AJAX API for visualizing stacked bars-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!-- Pagination via CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.6.0/pagination.js">
    </script>

        <!--Load the AJAX API for visualizing stacked bars-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<title>$test_type with $library_name</title>
  <style>
    body {   font-family: Sans-Serif; }

    .test_results details > summary {
        padding: 4px;
        background-color: #eeeeee;
        border: none;
        box-shadow: 1px 1px 2px #eeeeee;
        cursor: pointer;
        font-size:20px;
    }

h1, h2, h3, p {
  font-family: Arial, Helvetica, sans-serif;
}


table, table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
  padding: 8px;
}
table td {
    word-wrap: break-word;
    word-break: break-word;
}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}

th {
    font-weight: bold;
    text-align: center;
}

table th {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

/* Special for the types of results */
.class_pass th {background-color: #00cc00;}
.class_pass tr:hover {background-color: #44ff77;}
.class_fail th {background-color: #cc0000;}
.class_fail tr:hover {background-color: #ff0000;}
.class_error th {background-color: #ccaa00;}
.class_error tr:hover {background-color: #ffdd00;}
.class_unsupported th {background-color: #777777;}
.class_unsupported tr:hover {background-color: #dddddd;}


.class_selected_fails th {background-color: #0000ee;}
.class_selected_fails tr:hover {background-color: #8888ff;}

.class_selected_fails table {
    width:75%;
}
.class_selected_fails details > summary {
  font-size:16px;
}
  </style>

  <script type="text/javascript">
    // Stores info from the json data fetched asynchronously.
    let test_results = {
        'pass': {
            json: null,
            count: 0,
            characterized: null,
            check_boxes: [],
            selected_set: null,
            count: 0
        },
        'fail': {
            json: null,
            count: 0,
            characterized: null,
            check_boxes: [],
            selected_set: null,
        },
        'error': {
            json: null,
            count: 0,
            characterized: null,
            check_boxes: [],
            selected_set: null,
            count: 0,
        },
        'unsupported': {
            json: null,
            count: 0,
            characterized: null,
            check_boxes: [],
            selected_set: null,
        }
    };

    // Get the JSON data from the tests. let test_results['unsupported'].json;

    // Characterizations of non-passing.
    let fail_char;

    // Data dynamically created from test failures
    // on selection of some criteria.
    let p1 = fetch('./pass.json');
    let p2 = fetch('./failing_tests.json');
    let p3 = fetch('./test_errors.json');
    let p4 = fetch('./unsupported.json');

    let p_pass_char = fetch('./pass_characterized.json');
    let p_fail_char = fetch('./fail_characterized.json');
    let p_error_char = fetch('./error_characterized.json')
    let p_unsupported_char = fetch('./unsupported_characterized.json')

      // Synchronize all the data loading and charts / pagination
      Promise.all([
          p1.then((response) => response.json())
              .then((data) => {
                  test_results['pass'].json = data}),
          p2.then((response) => response.json())
              .then((data) => {
                  test_results['fail'].json = data}),
          p3.then((response) => response.json())
              .then((data) => {
                  test_results['error'].json = data}),
          p4.then((response) => response.json())
              .then((data) => {
                  test_results['unsupported'].json = data}),

          p_pass_char.then((response) => response.json())
              .then((data) => {
                  test_results['pass'].characterized = data}),
          p_fail_char.then((response) => response.json())
              .then((data) => {
                  test_results['fail'].characterized = data}),
          p_error_char.then((response) => response.json())
              .then((data) => {
                  test_results['error'].characterized = data}),
          p_unsupported_char.then((response) => response.json())
              .then((data) => {
                      test_results['unsupported'].characterized = data}),


          new Promise((resolve, reject) => {
              $(document).ready(resolve);
          })
      ]).then(([p1, p2, p3, p4, _ready]) => {
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        onloadFn();  // To call the pagination setup.
      });

      // Callback that creates and populates a data table
      // Instantiates it with data, and draws it.
      // TODO: Update with all the data loaded
      function drawChart() {
          // For each test type:
          //   Get a div for the chart
          let chart_output_area = document.getElementById('chart_div');
          let input_data = [
              ['Results', 'Count', {role:'style'}],
              ['Passing', test_results['pass'].json.length, '#44ff77'],
              ['Failing', test_results['fail'].json.length, '#ff0000'],
              ['Errors', test_results['error'].json.length, '#ffdd00'],
              ['Unsupported', test_results['unsupported'].json.length, '#777777']
          ];
          const chart = new google.visualization.BarChart(chart_output_area);
          let chart_data = google.visualization.arrayToDataTable(input_data);
          if (chart && chart_data) {
              let chart_options = {
                  legend: {position: 'bottom', maxLines: 3},
                  isStacked: true,
                  width: 600, height:200, bar: {groupWidth: '90%' }
              };
              chart.draw(chart_data, chart_options);
          }
     }

    const characterized_failure_labels =
      $characterized_failure_labels;

    let selectedSet = null;
    let intersection_labels = [];
    let accum_boxes = [];
    function checkboxChanged(box) {
        // TODO - the class of the box, e.g., 'pass', 'fail', etc.
        // Update the group selected with the intersection of values
        const box_class = box.className;
        const test_data = test_results[box_class];
        test_data.selected_set = null;

        // TODO: Finish this
        //let char_items = test_data.characterized;\
        for (let index in characterized_failure_labels) {
            const tag = characterized_failure_labels[index];
            const check_item = document.getElementById(tag);
            if (check_item.checked) {
                const label_string = check_item.value;
                const str_len = label_string.length;
                const labels = label_string.substring(2, str_len - 2). split("', '");
                const newSet = new Set(labels);

                if (! test_data.selected_set) {
                    // Start the set of selected items.
                    test_data.selected_set = newSet;
                } else {
                    // Update by intersection with this set.
                    test_data.selected_set =
                        new Set(
                            [...test_data.selected_set].filter((x) => newSet.has(x)));
                }
            }
        }
        // Do something with the selected set.
        // Get id of the correct count item.
        const class_name = box_class;  // get from a parent.
        const element_name = 'selectedCount';
        const selected_count_items = document.getElementsByName(element_name);
        // Spread this out into an array for filtering.
        const output = [...selected_count_items].filter(elem => elem.className == class_name);
        const newSize = test_data.selected_set == null ? 0 : test_data.selected_set.size;
        // TODO: Get the characterized data from the right set of items
        if (newSize == 0) {
            // Turn on all the check boxes
            for (let index in characterized_failure_labels) {
                const tag = characterized_failure_labels[index];
                const check_div = document.getElementById(tag + "_div");
                check_div.style.display = 'block';
                const check_box = document.getElementById(tag);
                check_box.checked = false;
                check_div.attributeStyleMap.clear();
            }
        } else {
            // TODO: Look at all the sets that intersect with selected.
            let intersection_checkboxes = [];
            for (let index in characterized_failure_labels) {
                const tag = characterized_failure_labels[index];
                const check_item = document.getElementById(tag);
                const label_string = check_item.value;
                const str_len = label_string.length;
                const labels = label_string.substring(2, str_len - 2). split("', '");
                const newSet = new Set(labels);
                let intersectSet = new Set([...newSet].filter(i => test_data.selected_set.has(i)));
                const div_for_checkbox = document.getElementById(tag + "_div");
                if (intersectSet.size > 0) {
                    intersection_checkboxes.push(check_item);
                    div_for_checkbox.style.setProperty("text-decoration", "");
                    div_for_checkbox.attributeStyleMap.clear();
                } else {
                    div_for_checkbox.style.setProperty("text-decoration", "line-through");
                }
            }
        }
        if (output) {
            // Set the current count of items
            output[0].innerHTML = output[0].innerText = newSize;
        }
        return newSize;
    }

    function showSelectedItems(id, item_type) {
        // Get the selected failures as a JSON list
        let selected_json_data = [];
        for (const failure of test_results[item_type].json) {
            let label = failure['label'];
            if (test_results[item_type].selected_set.has(label)) {
                selected_json_data.push(failure);
            }
        }
        fill_pagination("#characterized-pagination-container_" + item_type,
                        "#characterized-data-container_" + item_type,
                        selected_json_data,
                        "selected_" + item_type);
    }

    // UL Template for pagination.js
      function simpleTemplating(data, c_type) {
          let possible_fields = ['label', 'expected', 'result', 'error', 'error_detail',
                             'options', 'input_data', 'actual_options'];
      let table_opening =
      '<table id="table_' + c_type +
                  '" class="class_' + c_type + '">';
        let html = [table_opening];  // Sets up table
        if (data.length > 0) {
        html.push('<tr>');
          for (let key of possible_fields) {
          if (key in data[0]) {
          html.push('<th>' + key +'</th>');
          }
          }

          html.push('</tr>');
        $.each(data, function(index, item){
        html.push("<tr>");
          for (let key of possible_fields) {
          if (key in data[0]) {
          let output;
          if (typeof item[key] == 'object') {
          output = JSON.stringify(item[key]);
          } else {
          output = item[key];
          }
          html.push('<td>' + output +'</td>');
          }
          }
          html.push("</tr>");
        });
        }

        html.push('</table>');
        return html.join('\n');
    }

    function onloadFn() {
        // Set up the pagination of each set of results
        // Do this for each class of results.
        const container_types = ['pass', 'fail', 'error', 'unsupported'];
        let total_summary_count = 0;
        for (c_type of container_types) {
            let container_type = c_type;
            let data = test_results[c_type].json;
            if (data == 'undefined') {
                // This may be an error
                continue;
            }
            // Get formatted count of the data
            // And pu these strings in the HTML fields
            total_summary_count += data.length;
            test_results[c_type].count =
                (data.length).toLocaleString('en', {useGrouping:true});
            let count_element = document.getElementById(
                c_type + '_count');
            let summary_element = document.getElementById(
                c_type + '_summary_count');
            if (count_element) {
                count_element.innerHTML = test_results[c_type].count;
            }
            if (summary_element) {
                summary_element.innerHTML = test_results[c_type].count;
            }

            let pagination_container_name = '#' + c_type +
                '-pagination-container';
            let data_container_name = '#' + c_type +
                '-data-container';

            fill_pagination(pagination_container_name,
                            data_container_name,
                            data,
                            c_type);
            // Any other adjustments to display
            summary_element = document.getElementById(
                'total' + '_summary_count');
            if (summary_element) {
                summary_element.innerHTML =
                    total_summary_count.toLocaleString('en', {useGrouping:true});
            }

        }

        /* set up areas for error and unsupported detail */
        create_checkbox_area('pass');
        create_checkbox_area('error');
        create_checkbox_area('unsupported');

        // TODO: Set this up.
        // create_checkbox_area('fail');
    }

      function fill_pagination(pagination_container_name,
                               data_container_name,
                               data_json, container_type) {
          let pagination_container = $(pagination_container_name);
          let data_container = $(data_container_name);
          pagination_container.pagination({
              dataSource: data_json,
              pageSize: 10,
              showSizeChanger: true,
              showGoInput: true,
              showGoButton: true,
              showNavigator: true,
              formatGoInput: 'Go to page <%= input %>',
              formatNavigator: '<%= rangeStart %>-<%= rangeEnd %> of <%= totalNumber %> items',
              position: 'top',
              callback: function(data, pagination) {
                  // template method of yourself
                  // Create the HTML for the
                  var html = simpleTemplating(data, container_type);
                  data_container.html(html);
              }
          });
      }

    function create_checkbox_area(data_class) {
          /* Given a set of labels and named characteristics, create a set of checkboxes with
             labels for selecting a subset of items. Put this in the indicated div.
          */
        let test_info = test_results[data_class];
        let data_set = test_info.characterized;
        let div_name = data_class + '_characterized';
          let container = document.getElementById(div_name);
          for (let item in data_set) {
              let id = div_name + "_" + item;
              let name = id;
              const dict_values = data_set[item];
              let count = 0;
              for (let key of Object.keys(dict_values)) {
                  count += dict_values[key].length;
              }
              let box = document.createElement("INPUT");
              box.setAttribute("type", "checkbox");
              box.setAttribute("id", id);
              box.setAttribute("name", name);
              box.setAttribute("value", dict_values);
              box.setAttribute("onclick", "checkboxChanged(this);");
              box.className = data_class;
              let label = document.createElement("label");
              label.htmlFor = id;
              const text = count + ":" + item;
              label.appendChild(document.createTextNode(text));

              let br = document.createElement('br');
              if (container) {
                  container.appendChild(box);
                  container.appendChild(label);
                  container.appendChild(br);
              }
              test_info.check_boxes.push(box);
          }
      }

</script>
  </head>
  <body>
    <h1>Verification report: $test_type on $library_name</h1>
    <h2>$platform_info</h2>
    <div bp="grid">
      <div bp="4">
        <p>Report created: $timestamp
        <p><span id="total_summary_count">$total_tests</span> attempted. Pass: <span id="pass_summary_count">$passing_tests</span>,
          Fail: <span id="fail_summary_count">$failing_tests</span>,
          Errors: <span id="error_summary_count">$error_count</span>,
          Unsupported: <span id="unsupported_summary_count">$unsupported</span></p>
        <div id='chart_div'>
        </div>
      </div>
      <div bp="8">
        <h2>Test details</h2>
        <p>$test_environment</p>
      </div>
    </div>
    <br>
    <div id='test_result_details' class='test_results'>
    <details>
      <summary>Passing tests <span id='pass_count'>($passing_tests)</span></summary>
      <!-- Using pagination.js -->
      <div id="pass-pagination-container"></div>
      <div id="pass-data-container"></div>
      <div id='testPassCharacterized'>
        <details>
          <summary class="pass">Passing tests characterized</summary>
          <div bp="grid">
            <div bp="3">
              <p>Filtered count = <span id='selectedCount_pass' name='selectedCount' class='pass'>0</span>
                <button id="showSelected_pass" onclick="showSelectedItems(this, 'pass');">Update display</button>
              </p>
              <div id='pass_characterized'>
                </div>
            </div>  <!-- end of checkbox div -->
            <div bp="9">
              <div id="characterized-pagination-container_pass"></div>
              <div id="characterized-data_passcontainer"></div>
            </div>
          </div> <!-- grid end -->
        </details>
      </div>

    </details>

    <details>
      <summary>Failing tests <span id='fail_count'>($failing_tests)</span></summary>
      <div id="fail-pagination-container"></div>
      <div id="fail-data-container"></div>
      <div id='testFailuresCharacterized'>
        <details>
          <summary class="fail">Failures characterized</summary>
          <div bp="grid">
            <div bp="2">
              <p>Filtered count = <span id='selectedCount_fail' name='selectedCount' class='fail'>0</span>
                <button id="showSelected" onclick="showSelectedItems(this, 'fail');">Update display</button>
              </p>$failures_characterized
            </div>  <!-- end of checkbox div -->
            <div bp="10">
              <div id="characterized-pagination-container_fail"></div>
              <div id="characterized-data-container_fail"></div>
            </div>
          </div> <!-- grid end -->
        </details>
      </div>
    </details>  <!-- failing tests -->

    <details>
      <summary>Test errors <span id='error_count'>($error_count)</span></summary>
      <h2 id='testErrors'>Test Errors ($error_count)</h2>
      <div id="error-pagination-container"></div>
      <div id="error-data-container"></div>
      <div id='testErrorsCharacterized'>
        <details>
          <summary class="error">Errors characterized</summary>
          <div bp="grid">
            <div bp="3">
              <p>Filtered count = <span id='selectedCount_error' name='selectedCount' class='error'>0</span>
                <button id="showSelected_errors" onclick="showSelectedItems(this, 'error');">Update display</button>
              </p>
              <div id='errors_characterized'>
                </div>
            </div>  <!-- end of checkbox div -->
            <div bp="9">
              <div id="characterized-pagination-container_error"></div>
              <div id="characterized-data-container_error"></div>
            </div>
          </div> <!-- grid end -->
        </details>
      </div>
    </details>

    <details>
      <summary>Unsupported Tests errors <span id='unsupported_count'>($unsupported_count)</span></summary>
      <div id="unsupported-pagination-container"></div>
      <div id="unsupported-data-container"></div>
      <div id='testUnsupportedCharacterized'>
        <details>
          <summary class="unsupported">Unsupported characterized</summary>
          <div bp="grid">
            <div bp="3">
              <p>Filtered count = <span id='selectedCount_unsupported' name='selectedCount' class='unsupported'>0</span>
                <button id="showSelected_unsupported" onclick="showSelectedItems(this, 'unsupported');">Update display</button>
              </p>
              <dir id='unsupported_characterized'>
                </div>
            </div>  <!-- end of checkbox div -->
            <div bp="9">
              <div id="characterized-pagination-container_unsupported"></div>
              <div id="characterized-data-container_unsupported"></div>
            </div>
          </div> <!-- grid end -->
        </details>
      </div>
    </details>
    </div>

  </body>
</html>
