name: End-to-end - data gen + tests on all platforms

on:
  push:
    branches:
      - main
      - 'maint/maint*'
  pull_request:
    branches: '**'

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  run_all:
    name: End-to-end (Gen data, run tests, gen GH Pages)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: bash generateDataAndRun.sh
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: TEMP_DATA/testReports/

  # Deployment job
  deploy:
    runs-on: ubuntu-latest
    needs: run_all
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1