name: End-to-end - data gen + tests on all platforms

on:
  push:
    branches:
      - main
      - 'maint/maint*'
  pull_request:
    branches: '**'

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  run_all:
    name: End-to-end
    runs-on: ubuntu-latest
    steps:
      - name: Free up some disk space
        run: |
          echo "Available storage before:"
          sudo df -h
          echo
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /opt/ghc
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          echo "Available storage after:"
          sudo df -h
          echo
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Print available disk space
        run: |
          echo "Available disk space:"
          sudo df -h
      - name: Cache ICU4C binary versions
        id: icu4c-binaries
        uses: actions/cache@v3
        with:
          path: gh-cache
          key: ${{ runner.os }}-icu4c-binaries
      - name: Setup deps, etc. # install JSON-C, download ICU4C binaries if not present
        run: bash setup.sh

      - name: Setup version of Dart
        uses: dart-lang/setup-dart@d6a63dab3335f427404425de0fbfed4686d93c4f
        with:
          sdk: 3.10.0-37.0.dev
      - name: Set version of Rust
        uses: actions-rs/toolchain@v1
        with:
            toolchain: 1.82
      - name: Print available disk space
        run: |
          echo "Available disk space:"
          sudo df -h
      - name: Run End-to-end script
        run: bash generateDataAndRun.sh
      - name: Print available disk space
        run: |
          echo "Available disk space:"
          sudo df -h
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: TEMP_DATA/testReports/

  # Deployment job
  deploy:
    if: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
    runs-on: ubuntu-latest
    needs: run_all
    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write      # to deploy to Pages
      id-token: write   # to verify the deployment originates from an appropriate source
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
