name: Run Node JS tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: '*'

jobs:
  nodejs_18:
    name: Run Node.js 18 sample tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18.7.0
        uses: actions/setup-node@v3
        with:
          node-version: 18.7.0
      - name: test nvm command
        shell: bash -l -eo pipefail {0}
        run: nvm ls
      - name: "Run Node.js collator sample"
        shell: bash -l -eo pipefail {0}
        run: |
          cd testdriver
          bash runAll_node_local.sh
          cd ../verifier
          bash verifyNode_local.sh
